body {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #70add1de;
  color: #333;
}
nav {
  background-color: #000000;
  padding: 10px 0;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;             
  justify-content: center;   
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  color: #ffcc00;
}
.section {
  padding: 50px;
  text-align: center;
  background-color: rgb(241, 218, 218);
  margin: 20px auto;
  max-width: 800px;
  border-radius: 10px; 
}
.highlight {
  color: #f586ba;
}
.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.project {
  background-color: #f0f0f0;
  padding: 20px;
  width: 200px;
  border-radius: 8px;
  box-shadow: 0 1px 5px rgba(252, 248, 248, 0.1);
}
footer {
  text-align: center;
  background-color: #333;
  color: white;
  padding: 15px 0;
  margin-top: 30px;
}
.skill-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px
}
.skill1 {
  background-color: #f0f0f0;
  padding: 20px;
  width: 200px; 
  border-radius: 8px;
}
.skill2{
  background-color: #f0f0f0;
  padding: 20px;
  width: 200px;
  border-radius: 8px;
}
.skill3 {
  background-color: #f0f0f0;
  padding: 25px;
  width: 195px;
  border-radius: 8px;
}
.skill4 {
  background-color:  #f0f0f0;
  padding: 20px;
  width: 200px;
  border-radius: 8px;
}